---
import ArticleLayout from '@layouts/ArticleLayout.astro';
import Title from '@components/article/Title';
import Info from '@components/article/Info';
import Tags from '@components/article/Tags';
import Toc from '@components/article/Toc';
import AnotherPost from '@components/article/AnotherPost';

import { styleMDX } from '@components/article/CustomMD.mdx';

import { getCollection } from 'astro:content';
export async function getStaticPaths() {
  const posts = await getCollection('articles', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });

  const descPosts = [...posts].sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
  );

  const numberOfPosts = descPosts.length;

  return descPosts.map((post, index) => ({
    params: { slug: post.slug },
    props: {
      post,
      prevPost: numberOfPosts === index + 1 ? null : descPosts[index+1].slug,
      nextPost: index === 0 ? null : descPosts[index-1].slug
    }
  }));
}

const { post, prevPost, nextPost } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();
const { readingTime, words } = remarkPluginFrontmatter.readInfo;
---

<ArticleLayout>
  <Title title={post.data.title} slug={post.slug} />
  <Info
    date={post.data.publishDate}
    modifiedDate={post.data.modifiedDate}
    readingTime={readingTime}
    words={words}
  />
  <div class="article-container">
    {headings.length > 0 && <Toc headings={headings} />}
    <section id="article">
      <Content components={styleMDX} />
    </section>
  </div>
  <Tags tags={post.data.tags} />
  <AnotherPost prevPost={prevPost} nextPost={nextPost} />
</ArticleLayout>
