---
import ArticleLayout from '@layouts/ArticleLayout.astro';
import Title from '@components/article/Title';
import Info from '@components/article/Info';
import Tags from '@components/article/Tags';

import { styleMDX } from '@components/article/CustomMD.mdx';

import { getCollection } from 'astro:content';
export async function getStaticPaths() {
  const posts = await getCollection('articles', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
const { readingTime, words } = remarkPluginFrontmatter.readInfo;
---

<ArticleLayout>
  <Title title={post.data.title} slug={post.slug} />
  <Info date={post.data.publishDate} modifiedDate={post.data.modifiedDate} readingTime={readingTime} words={words} />
  <section id="article">
    <Content components={styleMDX} />
  </section>
  <Tags tags={post.data.tags} />
</ArticleLayout>
